<nav aria-label="Page navigation">
	<ul class="pagination">
		<li>
			<a href="/list?page=1" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<%for(var i = 1; i <= page ; i++){%>
		<li><a href="/list?page=<%=i%>"><%=i%></a></li>
		<%}%>
		<li>
			<a href="/list?page=<%=page%>" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>